* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    overflow-y: scroll;
    /* overflow-x: hidden; */

    ;
    font-size: 1rem;

}

:root,
body,
html {
    background-color: var(--white);
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Open Sans Condensed', 'HelveticaNeue-CondensedBold', Helvetica, 'Arial Narrow', Calibri, Arial, 'Lucida Grande', sans-serif;

}

:root {
    --greyeish: #404040;
    --orange: #ff7200;
    --greyBlack: #3c3c3c;
    --white: #fff;
    --lightGrey: #9c9c9c;
    --para-text: #505050;


}

div,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
img,
label,
li,
nav,
p,
small,
span,
ul,
a {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
    list-style: none;



}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* Reasuable code  */

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.active {
    background-color: var(--orange);
    border-radius: 2rem;
    padding: .8rem 1.6rem;
    color: var(--white);
}


/* Reasuable code Ends  */

/* TOP NAV  */
.see {
    display: block;
}

.top-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: var(--white);
    padding: .4rem;
    font-size: 1.3rem;
    font-weight: 600;
    position: fixed;


    top: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 1px 1px 5px 1px #888888;


}

.logo img {
    width: 10.5rem;
    margin-right: 34rem;





}


.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 1.3rem;
    gap: 1.3rem;
    margin-right: 10rem;
    font-weight: lighter;


}

.nav-item li a {
    text-decoration: underline;
}



.nav-item img {
    width: 2rem;
}

.nav-item .active a {
    color: var(--white);
}

.nav-item a {
    width: 2rem;
    color: var(--greyeish);


}

.search,
.bell {
    background-color: var(--greyeish);
    border-radius: 100%;

    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;


}

.bell {
    background-color: var(--lightGrey);
}

.nav-items .cart {
    margin-right: .6rem;
}

/* https://www.devexpress.com/products/net/controls/winforms/rich_editor/media/WinForms-RichEditor.jpg */
/* >>>>>>>>>>>>>>>>>>>> hero section start  */

.hero {
    background: linear-gradient(0deg, rgba(17, 16, 17, 0.8), rgba(10, 10, 10, 0.8)), url(./images/Hero-background.jpg );
    background-size: cover;
    height: 100%;
    margin-top: 3rem;
    background-position: center;
    background-repeat: no-repeat;



}

.hero-nav-item-top {
    margin-top: 1rem;
}

.hero-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;

}



.hero-nav img {
    width: 50%;
    margin-top: 1rem;

}


.section-right p {
    color: black
}

.hero-nav-item-top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.8rem;
    font-weight: 600;

    font-stretch: normal;
    flex-direction: row;
}



.line {
    width: .1rem;
    height: 3rem;
    background-color: #9c9c9c;
}

.hero-nav-item-top a {
    color: var(--white);
    text-transform: uppercase;
    font-weight: 400;

}

.hemburger {
    display: none;
}

.hero-content {
    gap: 2rem;
    margin-top: 12rem;
    color: var(--white);

}

.hero-heading {
    font-size: 6rem;
    font-stretch: normal;
}

.hero p {
    font-size: 2rem;
    width: 65%;

    text-align: center;
    line-height: 1.5;

}


.hero-btn {
    font-size: 2rem;
    margin: 0 1rem;
}

.border {
    border: .2rem solid var(--white);
    border-radius: 2rem;
    padding: .6rem 2rem;
}

.hero-btns .border {
    color: var(--white);
}

/* hero-award */
.hero-bottom-award {
    margin-top: 15rem;
    background: linear-gradient(0deg, rgba(17, 16, 17, 0.5), rgba(10, 10, 10, 0.5));

    padding: 2rem 10rem;
    justify-content: flex-start;

}

.award {
    gap: 2rem;
}

.hero-bottom-award img {
    width: 6rem;
}

.award h2 {
    font-size: 2rem;
    color: var(--white);
    font-weight: 400;
}

.award p {
    color: var(--lightGrey);
    font-size: 1.3rem;
    width: 50%;
    text-align: start;
}

.award-content {
    align-items: flex-start;
    gap: 1rem;

}

.award-cost {
    font-size: 5rem;
    color: var(--orange);
    position: relative;
    font-weight: 300;
}

.sqr {
    position: absolute;
    top: -20%;
    color: var(--lightGrey);
    font-weight: lighter;



}

.btn {
    width: 15rem;
    background-color: var(--orange);
    padding: 1rem;
    border-radius: 2rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;


}

a {
    color: var(--white);
}


/* sections */


.section-1 {
    margin: 10rem 0 10rem 5rem;
    justify-items: baseline;
    align-items: flex-start;
    position: relative;
    overflow: hidden;

    height: 700px;



}

.section-heading-bold {
    font-size: 3rem;
    font-weight: 800;
    color: var(--greyBlack);
}

.section-heading-grey {
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--lightGrey);
}

.section-list {
    margin: .5rem 0;
    font-size: 1.4rem;
    color: var(--para-text);
    margin-left: 1.2rem;

}

.section-list li::before {
    content: "\2022";
    color: var(--orange);

    font-weight: 600;

    display: inline-block;

    width: 2rem;

    margin-left: -1em;

    font-size: 1.6rem;
}

.section-para {
    font-size: 1.4rem;
    line-height: 1.4;

}

.section-left {
    align-items: flex-start;
    gap: 2.5rem;
    font-size: 1.5rem;
    margin-top: 5rem;
    margin-left: 4rem;

}

.section-small-text {
    font-size: 1rem;
}

.white-bg-btn {
    border: .2rem solid var(--greyeish);
    font-weight: 600;

}

.row-btn {
    gap: 1rem;
    align-items: flex-start;
    color: var(--greyeish);
}

.row-btn .section-small-text {
    color: var(--lightGrey);
}

.row-btn .white-bg-btn {
    color: var(--greyeish);
}

.screen {
    background-image: url("./images/Laptop-frame.png");
    background-size: cover;

    background-repeat: no-repeat;

    position: absolute;

    z-index: 1;





    height: 60rem;
    width: 900px;
    top: 0%;
    left: 45%;
    padding: 4rem;


}

.img-inside-screen {
    height: 70%;
}

.img-inside-screen {
    position: absolute;
    left: 25%;
    top: 10%;
    object-fit: cover;
    height: 476px;
    width: 750px;
}

.breaker {
    margin: 5rem 0;
    border-top: 2px dotted var(--lightGrey);
}

.section-2 {
    justify-items: baseline;
    align-items: flex-start;
    margin: 10rem 20rem 20rem 0;
    gap: 4rem;
    position: relative;

    overflow: hidden;
    height: 750px;
    margin: 0;

}

.screen-2 {

    background-image: url("./images/Laptop-frame.png");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 4;
    position: absolute;
    height: 60rem;
    width: 90rem;
    top: 0%;
    left: -35%;
    padding: 4rem;

}


.img-inside-screen-2 {

    position: absolute;
    left: 18%;
    top: 10%;
    height: 476px;
    width: 750px;

}

/* section -2  */


.section-para {
    gap: 2rem;
    width: 40%;
}

.section-para-2 {
    font-size: 1.4rem;
    font-weight: lighter;



}

.section-right {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    left: 47%;
    margin-top: 8rem;
    flex-direction: column;
    gap: 2rem;
    width: 50%;
    font-size: 1.5rem;


}

.section-right .section-sub-heading {

    padding: 1rem 0;
}

.section-right .active {
    font-weight: 400;
    font-size: 1rem;
    width: 25%;
    text-align: center;
    padding: 1rem;
}



.section-right .active {
    font-weight: 600;
    padding: 1rem 2rem;
}


/* section-3 */


.section-3 {

    padding-right: 23rem;
}

/* section -4 */

.section-sub-heading {
    font-size: 1.5rem;
}


/* skin-section-main */

.skin-section {

    background-image: url("https://www.devexpress.com/$resources/styles/platform/themes-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 75rem;
}

.skin-section-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.skin-heading {
    font-size: 4rem;
    color: var(--greyeish);
    text-align: center;
}

.sub-content {
    position: absolute;
    margin-top: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;

}

.sub-content p {
    font-size: 1.4rem;
    width: 50%;
    text-align: center;

}

.sub-section {
    position: absolute;
    top: 200%;
    gap: 5rem;
    margin-top: 30rem;

}

.sub-section img {
    width: 23rem;
    margin-bottom: 1.5rem;
}


.section-sub-heading-grey {
    color: var(--greyeish);
    font-weight: 400;
    font-size: 1.4rem;
}




/* leaf section  and award*/

.vsaward-section {
    background-color: #3c3c3c;
    justify-items: baseline;
    align-items: flex-start;
    justify-content: space-between;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 4rem 0 4rem 4rem;
    margin-top: 10rem;
}

.leaf {
    opacity: 0.25;
    fill: #FFFFFF;
}

.vs-award {
    gap: 2rem;

}

.vs-award img {
    width: 50%;
    margin-right: 1rem;
}

.award-sub-text {
    font-size: 2rem;
    color: var(--lightGrey);
}

.leaf-container {
    display: flex;
    align-items: center;
    display: block;
    overflow: hidden;


}

.sub-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    margin-left: 10rem;
    gap: 2rem;
}

.vscode-award-heading {
    color: var(--white);
    font-size: 3rem;
}

.vsaward-para {
    font-size: 1.2rem;
    color: var(--white);
    line-height: 1.8;
}

.vscode-award-heading-grey {
    color: var(--lightGrey);
    font-size: 1.5rem;
}

svg {
    width: 860px;
    height: 316px;
}

.vsaward-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    align-items: flex-start;
}



/* try */





/* ////////////////////////////////////////////// 

 Responsive code
 
  ///////////////////////////////////////////// */

.check {
    display: none;
}

.hero .hemburger {
    display: none;
}

@media only screen and (min-width: 1030px) {
    .section-right {
        left: 60%;
        width: 35%;
    }

    .section-left {
        width: 45%;
        position: absolute;
        left: 0%;

    }

    .screen-2 {
        width: 115rem;
        height: 60rem;
        left: -30%;
    }

    .section-para {
        width: 100%;
    }

    .img-inside-screen {
        position: absolute;
        left: 20%;
        top: 10%;
        /* object-fit: cover; */
        height: 407px;
        width: 623px;
    }

    .img-inside-screen-2 {
        position: absolute;
        left: 28%;
        top: 15%;
        /* object-fit: cover; */
        height: 450px;
        width: 623px;
    }


}

/* for desktop  */

@media only screen and (max-width: 1030px) {

    .hero .hemburger {
        display: none;
    }

    .active {
        font-size: 1rem;
        gap: 1rem;
        padding: 0.5rem 0.8rem;
    }


    .section-left {
        display: block;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;

    }

    .section-para {
        width: 80%;
    }

    .screen {
        top: 45%;

        width: 730px;
        height: 600px;

    }

    .screen-2 {
        top: 45%;
        margin: 0;
        max-width: 950px;
        height: 600px;
        left: -50%;
        overflow: hidden;

    }

    .img-inside-screen {
        width: 600px;
        height: 380px;
    }

    .img-inside-screen-2 {
        width: 620px;
        height: 380px;


    }

    .section-1 {
        margin: 0;
        height: 1000px;
        padding: 0;
        top: 0;
    }

    .section-2 {
        margin: 0;
        height: 1000px;
        padding: 0;
        top: 0;
    }


    .section-right {
        align-items: flex-start;
        left: 0;
        margin: 5rem;
        width: 73.8rem;
        gap: 2rem;
    }

    .section-para-2 {
        line-height: 1.7;




    }

    .sub-section img {
        width: 18rem;

    }
}



.cross {
    display: none;
}




/* for tablet  */

@media only screen and (max-width: 909px) {
      

    .cart {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-right: .5rem;
    }

    .man-nav {
        display: none;
    }



    .cross {
        display: block;
    }

    .hero {
        height: 780px;
        height: 100%;
    }

    .hero-nav-item {
        position: absolute;
        flex-direction: column;
        top: 5%;
        left: 0;
        right: 5%;
        bottom: 10;
        width: 100%;
        background-color: red;
        display: flex;
        justify-content: flex-start;
        justify-items: flex-end;
        align-items: flex-end;
        justify-self: end;
        background: linear-gradient(0deg, rgb(1, 1, 0.8), rgb(0, 0, 0.6));
        height: 120%;
        z-index: 1000;

    }

    .cross {
        width: 20%;
    }
    .top-li {
        margin-top: 2rem;
    }

    .line {
        margin-right: 1rem;
        display: none;
    }

    .hero-nav-item li {
        margin-right: 2rem;
        padding: 2rem;
        font-size: 2.5rem;
        font-weight: bolder;
    }

    .line {
        width: 5rem;
        height: .1rem;
    }

    .nav-item {
        margin: 0;
    }

    .logo {
        display: none;
    }

    .top-nav {
        align-items: flex-end;
        justify-content: flex-end;

    }

    .hero .hemburger {
        display: block;
        margin: 0;
        padding: 0;
    }

    .hero-nav {
        justify-content: space-between;
        margin: 0 0 0 2rem;
    }

    .hero-heading {
        font-size: 3rem;
    }

    .hero-content p {
        width: 90%;
        line-height: 1.6;
    }

    .hero-bottom-award {
        flex-direction: column;
        width: 100%;
        padding: 2rem;
    }

    .award-content {
        width: 100%;
        padding: 0;
        gap: 2rem;
    }

    .award-content h2 {
        width: 100%;
        text-align: center;
    }

    .award-content p {
        width: 100%;
        text-align: center;
    }

    .screen {
        top: 10%;
        margin: 0;
        width: 850px;
        height: 600px;
        left: 30%;
        border: 2px solid gre;
    }

    .screen-2 {
        margin: 0;
        max-width: 950px;
        height: 600px;
        left: 25%;
        top: 33%;
        overflow: hidden;
    }

    .gap {
        margin: 0;
        max-width: 950px;
        height: 561px;
        left: 25%;
        top: 50%;
        overflow: hidden;
    }

    .img-inside-screen {
        left: 20%;
    }



    .skin-section {
        background-image: url("https://www.devexpress.com/$resources/styles/platform/themes-background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 110rem;
        width: 100%;
    }

    .sub-content {
        position: absolute;
        margin-top: 48rem;
        display: flex;
        flex-direction: column;
        gap: 2;
        width: 100%;
        padding: 1rem;
        justify-content: space-between;
    }

    .sub-content h2 {
        text-align: center;
    }

    .sub-content .section-heading-grey {
        font-size: 2rem;
    }

    .sub-content p {
        font-size: 1.4rem;
        width: 100%;
        line-height: 1.7;
    }

    .sub-section {
        gap: 2rem;
        margin-top: 40rem;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .sub-section img {
        width: 22rem;
    }

    .section-right {
        width: 85%;
    }

    .hero-nav {
        padding-top: .4rem;
    }
}

/* for mobile */

@media only screen and (max-width: 520px) {


    .cart {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;
        margin-right: .7rem;
    }

    .logo {
        display: none;
    }

    .nav-item {
        margin: 0;
    }

    .top-nav {
        align-items: flex-end;
        justify-content: flex-end;

    }


    .section-right .active {
        padding: 1rem 1rem;
        border: none;
        width: 30%;
        border: none;
    }

    .section-right .active a {
        color: var(--white);
        font-weight: 600;
    }

    .screen {
        top: 55%;
        margin: 0;
        max-width: 530px;
        height: 400px;
        left: 0%;
    }

    .img-inside-screen {
        height: 250px;
        width: 430px;
        left: 22%;
        top: 12%;
    }

    .screen-2 {
        top: 55%;
        margin: 0;
        max-width: 530px;
        height: 400px;
        left: 0%;
    }

    .img-inside-screen-2 {
        height: 250px;
        width: 430px;
        left: 22%;
        top: 12%;
    }

    .skin-section {
        height: 110rem;

    }

    .skin-section-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        display: block;
        width: 100%;

    }

    .sub-content {
        position: absolute;
        margin-top: 13rem;
        display: flex;
        flex-direction: column;
        gap: 2;
        width: 100%;
        padding: 1rem;
        justify-content: space-between;


    }

    .sub-content h2 {
        text-align: center;
    }

    .sub-content .section-heading-grey {
        font-size: 2rem;
    }

    .sub-content p {
        font-size: 1.4rem;
        width: 100%;
        line-height: 1.7;
    }

    .sub-section {
        gap: 2rem;
        margin-top: 40rem;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .sub-section img {
        width: 22rem;
    }

    /* leaaf section award*/

    .vsaward-section {
        padding: 1rem;

    }

    .vs-award {
        gap: 2rem;
        flex-wrap: wrap;
        justify-content: space-between;

    }

    .vs-award img {
        width: 8rem;
        margin-right: 1rem;
    }

    .award-sub-text {
        font-size: 2rem;
        color: var(--lightGrey);
    }

    .leaf-container {
        display: flex;
        align-items: center;
        display: block;
        overflow: hidden;
    }

    .sub-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        width: 90%;
        margin-left: 1rem;
        gap: 2rem;
        padding: 1rem
    }

    .vsaward-para {
        font-size: 1.5rem;
        line-height: 1.3;
        text-align: justify;
    }

    .vscode-award-heading-grey {
        font-size: 1.5rem;
    }

    .hide {
        display: none;
    }

    .hero-nav {
        padding-top: .4rem;
    }

}








@media only screen and (max-width: 564px) {

    .secton-1 .gap {
        top: 30%;
    }


    .mail-merger {
        top: 55%;
        margin: 0;


    }

    .section-2 {
        height: 1200px;

    }

    .section-1 {
        height: 1200px;

    }

    .table {
        top: 65%;
    }

    .spell {
        top: 65%;
    }

    .UI {
        top: 60%
    }

    .hero-nav {
        padding-top: .4rem;
    }

    .hero-content p {
        font-size: 1.6rem;
        text-align: justify;
    }

    .hero-heading {
        text-align: center;
        font-stretch: expanded;
    }

    .award-cost {
        margin-top: 1rem;
        line-height: 2;
    }

}


@media only screen and (max-width: 461px) {

    .sub-section {
        margin-top: 48rem;
    }

    .sub-section img {
        width: 15rem;
        padding: 1rem;

    }

    .mail-merger {
        top: 70%;

    }
}




@media only screen and (max-width: 426px) {


    .sub-section img {
        width: 14rem;
    }

    .hero-heading {
        text-align: center;
        font-stretch: expanded;
    }

    .hero-content p {
        font-size: 1.6rem;
        text-align: justify;
    }

    .top-nav {
        margin-bottom: .9rem;
    }

    .hero-nav {
        padding-top: .4rem;
    }


}


@media only screen and (max-width: 361px) {
    .section-left {

        padding: 0;
        margin: 0;
        padding: 2rem;
    }

    .section-right {
        padding: 0;
        margin: 0;
        padding: 2rem;
    }

    .prtotected {
        top: 70%;
    }

    .table {
        top: 70%;
    }

    .screen {
        height: 400px;
    }

    .screen-2 {
        height: 400px;
    }

    .spell {
        top: 70%;

    }

    .section-2 .mail-merger {
        top: 70%;
    }

    .section-1 {
        height: 1300px;
    }

    .active {

        padding: .4rem 1rem;


    }

    .nav-item {
        gap: 1rem;
    }
}

@media only screen and (max-width: 300px) {
    .table {
        top: 70%;
    }

    .active {
        padding: .4rem 1rem;
    }

    .nav-item {}
}

/* INFO ABOUT CODE*/

/* * In this i make some resuable classes because the pattern was same of layout */

/* .column :- flex-direction-column */
/* .row :- flex-direction-row */
/* section-1:  */
/* .screen: is the laptop frame */
/* img-inside-scren: image inside the lapop frame*/

/* active show the button in orange */